.GoogleLogo {
    height: 15px;
    width: auto;
}

.AppleLogo {
    height: 15px;
    width: auto;
}

.Xlogo {
    display: flex;
}

/* iPad Air */
@media only screen 
  and (min-width: 580px) 
  and (max-width: 1000px)  {
    .Xlogo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
} 

/* iPhone XR */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 828px) {
    .Xlogo {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }