:root {
--blue: #1D9BF0;
--white: #ffffff;
--gray: #536471;
--lightgray: #CFD9DE;
--inputgray: #EFF3F4;
--darkgray: #3C4043;
--black: #0F1419;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

.Login {
    gap: 20px;
}

.orText {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Headers {
    display:flex;
    width: 400px;
    gap: 51px;
    flex-direction: column;
}